* {
    border: 1px dashed peru;
}
body {
    padding: 0;
}
h1 {
    color: red;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(150, 24, 24);
    height: 20vh;
}
header nav, h1 {

}
header nav a {
    margin: 0.5rem;
    text-decoration: none;
    color: black;
    border: 1px solid lightslategray;
    border-radius: 15%;
    padding: 0.2rem 0.5rem;


}

header nav a:hover {
color: white;
background: rgb(206, 13, 13);
}


.access-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.notification-icon{
    font-size: 1.5em;
}
.user-avatar {
    border-radius: 100%;
    width: 2.6rem;
}

header div input{
    padding: 0.5rem 2rem 0.5rem 0.5rem  ;
    background-image: url(https://banner2.cleanpng.com/20180423/bfq/kisspng-magnifying-glass-flat-design-sarcacenic-5ade7a10717915.3853724715245296804648.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1.7rem;

}

main {
    display: flex;
flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    aspect-ratio: 5/3;
    height: 70vh;
    margin: 0;
}